body {
    margin: 0 5px 0 5px;
}

img {
    width: 30%;
    margin: 0 1.66% 0 1.66%;
}

h1 {
    margin: 10px 0 10px 0;
    font-size: 1.5em;
}

h5 {
    margin: 20px 0 20px 0;
    text-align: center;
}